<div class="usd-content-area usd-content-area-standard animated fadeIn">
  <h2 class="font-bold text-uppercase py-5 text-center text-muted"><i class="fa fa-recycle"></i> Leed Certification Initiatives</h2>
  <div class="card-deck">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="card-title mb-0"><i class="fas fa-tint text-white"></i> Water Efficiency</h4>
      </div>
      <div class="card-block p-0">
        <div class="m-3">
          <div class="row">
            <div class="col-6 text-center border border-top-0 border-left-0 border-bottom-0 border-secondary">
              <h3 class="font-bold mb-0">41,309,360</h3>
              <p class="text-secondary mb-0 small">Gallons in 2017</p>
            </div>
            <div class="col-6 text-center">
              <h3 class="font-bold mb-0"><i class="fas fa-caret-up"></i> 3%</h3>
              <p class="text-secondary mb-0 small">Compared to Last Year</p>
            </div>
          </div>
          <hr>
          <div class="text-left">
            <p class="mb-2"><strong>Initiative:</strong></p>
            <p>Use 42% water than typical standards by utilizing efficient fixtures and system designs.</p>
            <p></p>
          </div>
        </div>
        <!--/.social-box-->
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-danger">
        <h4 class="card-title mb-0"><i class="fas fa-bolt text-white"></i> Energy & Atmosphere</h4>
      </div>
      <div class="card-block p-0">
        <div class="m-3">
          <div class="row">
            <div class="col-6 text-center border border-top-0 border-left-0 border-bottom-0 border-secondary">
              <h3 class="font-bold mb-0">30,000,000</h3>
              <p class="text-secondary mb-0 small">kWh</p>
            </div>
            <div class="col-6 text-center">
              <h3 class="font-bold mb-0"><i class="fas fa-caret-down"></i> 5%</h3>
              <p class="text-secondary mb-0 small">Compared to Last Year</p>
            </div>
          </div>
          <hr>
          <div class="text-left">
            <p class="mb-2"><strong>Initiative:</strong></p>
            <p>Offset electricity use by 2.4 million kWh annually. Implement high efficiency systems with advanced monitoring and control capabilities.</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-secondary">
        <h4 class="card-title mb-0 text-white"><i class="fas fa-cloud"></i> Emissions</h4>
      </div>
      <div class="card-block p-0">
        <div class="m-3">
          <div class="row">
            <div class="col-6 text-center border border-top-0 border-left-0 border-bottom-0 border-secondary">
              <h3 class="font-bold mb-0">50,000</h3>
              <p class="text-secondary mb-0 small">mtCO<sub>2</sub>e</p>
            </div>
            <div class="col-6 text-center">
              <h3 class="font-bold mb-0"><i class="fas fa-caret-down"></i> 7%</h3>
              <p class="text-secondary mb-0 small">Compared to Last Year</p>
            </div>
          </div>
          <hr>
          <div class="text-left">
            <p class="mb-2"><strong>Initiative:</strong></p>
            <p>Increase fresh air ventilation by 30% over minimum requirements, providing a healthier environment for employees and guests.</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block card-block-list p-0">
          <div class="list">
            <div class="item item-primary">
              <div class="avatar avatar-sm">
                <img src="assets/img/leed-certified.png" />
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="mb-0 font-bold">Leed Certification</h4>
                    <p class="text-white">Points Achieved</p>
                  </div>
                </div>
              </div>
              <h5 class="item-end font-bold">37 / 69</h5>
            </div>
            <div class="item">
              <div class="avatar avatar-sm border border-primary">
                <i class="fas fa-building text-primary"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h5 class="mb-0">Sustainable Sites</h5>
                  </div>
                </div>
              </div>
              <h6 class="item-end">7 / 14</h6>
            </div>
            <div class="item">
              <div class="avatar avatar-sm border border-info">
                <i class="fas fa-tint text-info"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h5 class="mb-0">Water Efficiency</h5>
                  </div>
                </div>
              </div>
              <h6 class="item-end">3 / 5</h6>
            </div>
            <div class="item">
              <div class="avatar avatar-sm border border-warning">
                <i class="fas fa-sun text-warning"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h5 class="mb-0">Energy & Atmosphere</h5>
                  </div>
                </div>
              </div>
              <h6 class="item-end">10 / 17</h6>
            </div>
            <div class="item">
              <div class="avatar avatar-sm border border-success">
                <i class="fas fa-recycle text-success"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h5 class="mb-0">Materials and Resources</h5>
                  </div>
                </div>
              </div>
              <h6 class="item-end">7 / 13</h6>
            </div>
            <div class="item">
              <div class="avatar avatar-sm border border-danger">
                <i class="fas fa-tachometer text-danger"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h5 class="mb-0">Innovation & Design</h5>
                  </div>
                </div>
              </div>
              <h6 class="item-end">5 / 5</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="font-bold text-uppercase py-5 text-center text-muted"><i class="fa fa-cloud"></i> Carbon Footprint Initiatives</h2>
  <div class="card">
    <div class="card-block">
      <h4 class="text-secondary font-bold text-center">Energy Consumption Trend in kWh</h4>
      <div *ngIf="chart">
        <canvas id="energyTrend" height="300">{{ chart }}</canvas>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <div class="card-block">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="text-center">
              <div class="text-center d-flex justify-content-center m-4">
                <div class="rounded-circle p-3 novo-circle border-success d-flex align-items-center justify-content-center">
                  <p class="novo-circle-number mb-0 mt-2 text-success"><i class="fas fa-tree"></i></p>
                </div>
              </div>
              <h6 class="text-secondary font-bold text-center">Carbon Sequestered by Number of Trees</h6>
              <h1 class="font-bold">462,894</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="text-center">
              <div class="text-center d-flex justify-content-center m-4">
                <div class="rounded-circle p-3 novo-circle border-info d-flex align-items-center justify-content-center">
                  <p class="novo-circle-number mb-0 mt-2 text-info"><i class="fas fa-recycle"></i></p>
                </div>
              </div>
              <h6 class="text-secondary font-bold text-center">Tons of Recycled Waste</h6>
              <h1 class="font-bold">6,223</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <div class="card-block">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="text-center">
              <div class="text-center d-flex justify-content-center m-4">
                <div class="rounded-circle p-3 novo-circle border-warning d-flex align-items-center justify-content-center">
                  <p class="novo-circle-number mb-0 mt-2 text-warning"><i class="fas fa-lightbulb"></i></p>
                </div>
              </div>
              <h6 class="text-secondary font-bold text-center">Incandescent Bulbs Switched to LED</h6>
              <h1 class="font-bold">597,765</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="text-center">
              <div class="text-center d-flex justify-content-center m-4">
                <div class="rounded-circle p-3 novo-circle border-secondary d-flex align-items-center justify-content-center">
                  <p class="novo-circle-number mb-0 mt-2 text-secondary"><i class="fas fa-car"></i></p>
                </div>
              </div>
              <h6 class="text-secondary font-bold text-center">Miles Driven in an Average Car</h6>
              <h1 class="font-bold">43,777,471</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="font-bold text-uppercase py-5 text-center text-muted"><i class="fa fa-recycle"></i> Materials Diversion</h2>
  <div class="card">
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="px-lg-5">
            <div *ngIf="chart">
              <canvas id="materialDiversion" height="300">{{ chart }}</canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="assets/img/recycle.jpg">
        </div>
      </div>
    </div>
  </div>
  <!--<hr>
  <div class="row align-items-center my-5">
    <div class="col-md-6">
      <img class="img-fluid" src="assets/img/transportation.jpg">
    </div>
    <div class="col-md-6">
      <div class="px-lg-5">
        <h6 class="text-secondary font-bold">Carbon Footprint</h6>
        <h2 class="h2 text-uppercase font-bold">10% Increase in Alternative Transportation</h2>
        <p>We have a goal to have more than 21% of our waste recycled</p>
        <div class="progress" style="height: 40px">
          <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">+5% Alternative Transportation</div>
        </div>
        <div class="row">
          <div class="col-4">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-5">1 Million kWh in Energy Savings</h1>
    <p class="lead">Through technology, innovation, and other progressive ideas, we plan to save 5% in energy consumption which would be 1,000,000 kWh per year.</p>
  </div>
  <div class="text-center text-muted py-5">
    <h2 class="font-bold text-uppercase mb-2"><i class="fa fa-recycle"></i> Energy Savings Equivalents</h2>
    <p>1,000,000 kWh Saved Annually</p>
  </div>
  <h4 class="text-muted mt-3">Greenhouse Gas Emissions</h4>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-car"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">159</h4>
                    <p class="item-subtitle">Passenger Vehicles Driven For 1 Year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-car"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">1,824,061</h4>
                    <p class="item-subtitle">Miles driven by an average passenger vehicle</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-truck"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">259</h4>
                    <p class="item-subtitle">Tons of waste recycled instead of landfilled</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-truck"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">37.1</h4>
                    <p class="item-subtitle">Garbage trucks of waste recycled instead of landfilled</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-muted mt-3">CO<sub>2</sub> Emissions</h4>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-filter"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">83,742</h4>
                    <p class="item-subtitle">Gallons of gasoline consumed</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-fire"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">814,242</h4>
                    <p class="item-subtitle">Pounds of coal burned</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-truck"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">9.9</h4>
                    <p class="item-subtitle">Tanker trucks' worth of gasoline</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-home"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">80.4</h4>
                    <p class="item-subtitle">Homes' energy use for one year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-asterisk"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">0.189</h4>
                    <p class="item-subtitle">Wind turbines running for a year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-bolt"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">112</h4>
                    <p class="item-subtitle">Homes' electricity use for one year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-train"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">4.1</h4>
                    <p class="item-subtitle">Railcars' worth of coal burned</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-lightbulb"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">24,907</h4>
                    <p class="item-subtitle">Incandescent lamps switched to LEDs</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-fire"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">1,723</h4>
                    <p class="item-subtitle">Barrels of oil consumed</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-fire"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">30,423</h4>
                    <p class="item-subtitle">Propane cylinders used for home barbeques</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-industry"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">0.0002</h4>
                    <p class="item-subtitle">Coal-fired power plants in one year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-muted mt-3">Carbon Sequestered</h4>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fab fa-pagelines"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">19,287</h4>
                    <p class="item-subtitle">Tree seedlings grown for 10 years</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-tree"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">877</h4>
                    <p class="item-subtitle">Acres of U.S. forests in one year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card border-0">
        <div class="clearfix card-block-list p-0">
          <div class="list mb-0">
            <div class="item">
              <div class="avatar avatar-sm">
                <i class="fas fa-tree-alt"></i>
              </div>
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="item-label">
                    <h4 class="font-bold">6.1</h4>
                    <p class="item-subtitle">Acres of U.S. forests preserved from conversion to cropland in one year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>