<!-- .usd-main -->
<main class="usd-main center-v">
  <div class="container-fluid">
    <!-- 
      USD: Frame > Content Area
      Class: .usd-content-area
      Content:
        - All page content
      Featured:
        - Animated Fadein
        - Standard content area (.usd-content-area-standard)
        - Full content area (.usd-content-area-full)
    -->
    <div class="usd-content-area usd-content-area-standard animated fadeIn">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card p-4">
            <div class="login-brand mb-3 text-center">
              <a href="usd-user.html"><img width="150px" src="assets/img/logo.png" /></a>
            </div>
            <p>Enter the email address associated with your account. We will email you a link to reset your password.</p>
            <form class="mb-3" id="needs-validation-login" novalidate>
              <div class="form-group">
                <label class="form-label">Email Address</label>
                <input type="email" placeholder="Email" name="log" id="user_login" class="form-control input" value="" size="20" required>
                <div class="invalid-feedback">
                  <small>You must provide a valid email address</small>
                </div>
              </div>
              <div class="float-right">
                <a href="/#/start/login" class="btn btn-primary btn-link mt-3">Back to Login</a>
                <a href="#" class="btn btn-primary mt-3">Reset Password</a>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.usd-content-area -->
  </div>
  <!-- /.container-fluid -->
</main>
<!-- /.usd-main -->