 <!-- .usd-main -->
<main class="usd-main center-v">
  <div class="container-fluid">
    <div class="usd-content-area usd-content-area-standard animated fadeIn">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="login-brand text-center">
                <a href="usd-user.html"><img width="150px" src="assets/img/logo.png" /></a>
              </div>
              <div class="social-auth my-3">
                <a href="/#/app/dashboard" class="btn btn-facebook btn-lg btn-icon btn-icon-left btn-block"><i class="fab fa-facebook"></i> Connect With Facebook</a>
                <a href="/#/app/dashboard" class="btn btn-google-plus btn-icon btn-icon-left btn-lg btn-block"><i class="fab fa-google"></i> Connect With Google</a>
              </div>
              <div class="hr-text mb-4">
                <span>Or</span>
              </div>
              <form class="mb-3" id="needs-validation-login" novalidate>
                <div class="form-group">
                  <label class="form-label">Email Address</label>
                  <input type="email" placeholder="Email" name="log" id="user_login" class="form-control input" value="" size="20" required>
                  <div class="invalid-feedback">
                    <small>You must provide a valid email address</small>
                  </div>
                </div>
                <div class="form-group" id="login-password">
                  <label class="form-label">Password</label>
                  <input id="login-password-field" type="password" class="form-control password-field" name="password" placeholder="Password" value="" required>
                  <div class="invalid-feedback">
                    <small>You must provide your password</small>
                  </div>
                </div>
                <div class="row align-items-center clear-both">
                  <div class="col-lg-6">
                    <div class="custom-controls-stacked d-block">
                      <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Remember Me</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <p class="text-right"><a href="/#/start/reset">Lost Password?</a></p>
                  </div>
                </div>
                <a href="/#/app/dashboard" class="btn btn-primary mt-3">LOGIN</a>
              </form>
            </div>
            <div class="card card-primary text-white p-4 justify-content-center">
              <div class="card-block text-left">
                <h4>Get Started with NOVO</h4>
                <h5>We turn facility managers into heroes with intelligently connected meters that monitor natural resources.</h5>
                <h5>Consumers will be safe and comfortable. Owners will be ecstatic.</h5>
                <h5 class="mb-4">Ready to get started?</h5>
                <a href="/#/start/signup" class="btn btn-white btn-lg">Create New Account</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.usd-content-area -->
  </div>
</main>