<div class="usd-content-area usd-content-area-standard animated fadeIn">
  <h2 class="font-bold text-uppercase pb-3 pt-2 text-muted"><i class="fa fa-tint"></i> Water</h2>
  <div class="row">
    <div class="col-lg-4">
      <div [ngClass]="{'card-accent-danger': gsCalc?.rows[0].usagehist0 > gsCalc?.rows[0].usagehist12, 'card-accent-success': gsCalc?.rows[0].usagehist0 < gsCalc?.rows[0].usagehist12}" class="card">
        <div class="card-block">
          <h5 class="card-title">Monthly Total</h5>
          <h1 class="font-bold">50,000 <span class="text-secondary font-lg font-sans-serif">gal</span></h1>
          <div *ngIf="gsCalc?.rows[0].usagehist0 > gsCalc?.rows[0].usagehist12; then overYOY; else underYOY"></div>
          <ng-template #overYOY>
            <p class="text-danger mb-0"><i class="fas fa-caret-up"></i> {{ gsCalc?.rows[0].yoydiff }} over last year</p>
          </ng-template>
          <ng-template #underYOY>
            <p class="text-success mb-0"><i class="fas fa-caret-down"></i> {{ gsCalc?.rows[0].yoydiff }} under year</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" [ngClass]="{'card-accent-danger': gsCalc?.rows[0].highusageoveravg > 0.25, 'card-accent-success': gsCalc?.rows[0].highusageoveravg < 0.25}">
        <div class="card-block">
          <h5 class="card-title">High (Past Year)</h5>
          <h1 class="font-bold">75,000 <span class="text-secondary font-lg font-sans-serif">gal</span></h1>
          <div *ngIf="gsCalc?.rows[0].highusageoveravg > 0.25; then overTarget; else underTarget"></div>
          <ng-template #overTarget>
            <p class="text-danger mb-0">{{ gsCalc?.rows[0].highmonthlabel }} was {{ gsCalc?.rows[0].highusageoveravg | percent:'1.1-2' }} over average usage</p>
          </ng-template>
          <ng-template #underTarget>
            <p class="text-success mb-0">{{ gsCalc?.rows[0].highmonthlabel }} was {{ gsCalc?.rows[0].highusageoveravg | percent:'1.1-2' }} over average usage</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" [ngClass]="{'card-accent-danger': gsCalc?.rows[0].usagehistavg > gsCalc?.rows[0].usagehistavgtarget, 'card-accent-success': gsCalc?.rows[0].usagehistavg < gsCalc?.rows[0].usagehistavgtarget }">
        <div class="card-block">
          <h5 class="card-title">Average (Past Year)</h5>
          <h1 class="font-bold">65,000 <span class="text-secondary font-lg font-sans-serif">gal</span></h1>
          <div *ngIf="gsCalc?.rows[0].usagehistavg > gsCalc?.rows[0].usagehistavgtarget; then overAvgTarget; else underAvgTarget"></div>
          <ng-template #overAvgTarget>
            <p class="text-danger mb-0"><i class="fas fa-caret-up"></i> {{ gsCalc?.rows[0].usagehistavgdiff | percent:'1.1-2' }} over target</p>
          </ng-template>
          <ng-template #underAvgTarget>
            <p class="text-success mb-0"><i class="fas fa-caret-down"></i> {{ gsCalc?.rows[0].usagehistavgdiff | percent:'1.1-2' }} under target</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-deck">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title mb-0">Usage History (gallons)</h4>
            <p class="text-secondary">{{ gsMeters?.rows[4].meterlabel }}</p>
            <div *ngIf="chart">
              <canvas id="chartUsageHistory" height="360">{{ chart }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Site Comparison</h4>
          <p class="mb-0">Best Building</p>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25k gal</div>
          </div>
          <p class="mb-0 mt-2">Goal</p>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">30k gal</div>
          </div>
          <p class="mb-0 mt-2">Median Building</p>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">29k gal</div>
          </div>
          <p class="mb-0 mt-2">Highest Building</p>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">55k gal</div>
          </div>              
        </div>
      </div>
      <div class="card">
        <div class="card-block power-intensity-grid">
          <h4>Water Peaks</h4>
          <div class="row no-gutters text-muted small">
            <div class="col-2">
              8AM
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">

            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger h-100"></div>
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighterest h-100"></div>
            </div>
          </div>
          <div class="row no-gutters small text-muted">
            <div class="col-2">
              12PM
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
          </div>
          <div class="row no-gutters small text-muted">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
          </div>
          <div class="row no-gutters small text-muted">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
          </div>
          <div class="row no-gutters small text-muted">
            <div class="col-2">

            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              
            </div>
          </div>
          <div class="row no-gutters small text-muted">
            <div class="col-2">
              4PM
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
          </div>
          <div class="row no-gutters text-muted small">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-lightest h-100"></div>
            </div>
            <div class="col-2">
              
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">

            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger h-100"></div>
            </div>
            <div class="col-2">
              
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
          </div>
          <div class="row no-gutters small text-muted">
            <div class="col-2">
              8PM
            </div>
            <div class="col-2">
              <div class="bg-danger-light h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighter h-100"></div>
            </div>
            <div class="col-2">
              <div class="bg-danger-lighterest h-100"></div>
            </div>
          </div>
          <div class="row no-gutters text-center small text-muted mt-2">
            <div class="col-2">
              
            </div>
            <div class="col-2">
              Mon
            </div>
            <div class="col-2">
              Tue
            </div>
            <div class="col-2">
              Wed
            </div>
            <div class="col-2">
              Thur
            </div>
            <div class="col-2">
              Fri
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Water Usage / Gallons</h4>
          <div margin-bottom style="display: block;">
            <canvas baseChart width="300" height="300"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>