<div class="usd-content-area usd-content-area-standard animated fadeIn">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-block">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?center=26.1599243,-81.6395034&zoom=18&size=800x400&maptype=roadmap&markers=color:blue&key=AIzaSyCRiDbCDdIt-_o1_L2gHWw9268177i6a4Q">
          <h5 class="mt-3 mb-0">Greek Theater, Jenkins</h5>
          <p>University of Richmond, VA 23173</p>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <h1><i class="fal fa-cloud"></i> 68&#176; F</h1>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-6 text-left">
                  <p class="mb-0">74&#176;</p>
                  <p>High</p>
                </div>
                <div class="col-6 text-left">
                  <p class="mb-0">74&#176;</p>
                  <p>Low</p>
                </div>
              </div>
            </div>
          </div>
          <!-- ./row -->
          <div class="row">
            <div class="col-6">
              Sunrise: 5:35 AM
            </div>
            <div class="col-6">
              Sunset: 7:20 PM
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <p class="mb-0"><strong>Area:</strong> 953,090 sq. ft.</p>
              <p class="mb-0"><strong>Floors:</strong> 12</p>
              <p class="mb-0"><strong>Occupants:</strong> 1,200</p>
              <p class="mb-0"><strong>Type:</strong> Office, Residence</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title font-bold">Total Meters</h4>
          <div class="list list-sm mb-3">
            <div class="item bg-gray-lightest py-1">
              <div class="avatar avatar-sm bg-danger border-white">
                <i class="fas fa-bolt text-light"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <h4 class="mb-0">Power</h4>
                  </div>
                </div>
              </div>
              <h1 class="item-end font-bold">12</h1>
            </div>
          </div>
          <div class="list list-sm mb-3">
            <div class="item bg-gray-lightest py-1">
              <div class="avatar avatar-sm bg-info border-white">
                <i class="fas fa-tint text-light"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <h4 class="mb-0">Water</h4>
                  </div>
                </div>
              </div>
              <h1 class="item-end font-bold">12</h1>
            </div>
          </div>
          <div class="list list-sm mb-0">
            <div class="item bg-gray-lightest py-1">
              <div class="avatar avatar-sm bg-success border-white">
                <i class="fas fa-fire text-light"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <h4 class="mb-0">Gas</h4>
                  </div>
                </div>
              </div>
              <h1 class="item-end font-bold">05</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title font-bold">Summary - Last Year</h4>
          <div class="list list-sm mb-0">
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-success">
                <i class="fas fa-dollar-sign text-success"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Total Utility Costs</p>
                    <h2 class="mb-0">$ 64,205</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-danger">
                <i class="fas fa-bolt text-danger"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Total Electricity Usage</p>
                    <h2 class="mb-0">721,789 <span class="font-sm text-muted">kW</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-info">
                <i class="fas fa-tint text-info"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Total Water Usage</p>
                    <h2 class="mb-0">12,210,100 <span class="font-sm text-muted">gal</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-muted">
                <i class="fas fa-cloud text-muted"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Total CO<sub>2</sub> Emissions</p>
                    <h2 class="mb-0">541,890 <span class="font-sm text-muted">lbs CO<sub>2</sub></span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-success">
                <i class="fas fa-fire text-success"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Total Gas Usage</p>
                    <h2 class="mb-0">432,800 <span class="font-sm text-muted">feet<sup>3</sup></span></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title font-bold">Meter Status</h4>
          <div class="list list-sm mb-0">
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-white">
                <i class="fal fa-check text-success"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Active Meters</p>
                    <h2 class="mb-0">12</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-white">
                <i class="fal fa-ban text-danger"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Offline Meters</p>
                    <h2 class="mb-0">0</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item py-1 px-0 item-bottom-border">
              <div class="avatar avatar-sm bg-white border-white">
                <i class="fal fa-exclamation-triangle text-warning"></i>
              </div>
              <div class="item-inner">
                <div class="item-input-wrapper">
                  <div class="item-label">
                    <p class="mb-0 text-muted">Spikes</p>
                    <h2 class="mb-0">3</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h4 class="card-title mb-0 font-bold">Electricity Cost</h4>
              <div class="small text-muted">Last Year</div>
            </div><!--/.col-->
          </div><!--/.row-->
          <div class="chart-wrapper" style="height:300px;margin-top:40px;">
            <canvas baseChart class="chart"
            [datasets]="mainChart1Data"
            [labels]="mainChart1Labels"
            [options]="mainChart1Options"
            [colors]="mainChart1Colours"
            [legend]="mainChart1Legend"
            [chartType]="mainChart1Type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-4">
              <div class="text-muted">Total</div>
              <span class="h3"><strong>$5,608,545</strong></span>
              <div class="progress progress-xs mt-2">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-4 mt-3 mt-lg-0 mt-md-0">
              <div class="text-muted">Avg / Month</div>
              <span class="h3"><strong>$801,220</strong></span>
              <div class="progress progress-xs mt-2">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-4 mt-3 mt-lg-0 mt-md-0">
              <div class="text-muted">Highest Monthly</div>
              <span class="h3"><strong>$950,340</strong></span>
              <div class="progress progress-xs mt-2">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->
      <div class="row">
        <div class="col-12">
          <div class="card-deck">
            <div class="card peak-hours">
              <div class="card-block">
                <h4 class="card-title font-bold">Peak Hourly Periods</h4>
                <div class="row peak-hours-bar mx-1">
                  <div class="col-1 peak-hours-bar-item low1"></div>
                  <div class="col-1 peak-hours-bar-item low2"></div>
                  <div class="col-1 peak-hours-bar-item low3"></div>
                  <div class="col-1 peak-hours-bar-item low4"></div>
                  <div class="col-1 peak-hours-bar-item low5"></div>
                  <div class="col-1 peak-hours-bar-item high1"></div>
                  <div class="col-1 peak-hours-bar-item high4"></div>
                  <div class="col-1 peak-hours-bar-item high5"></div>
                  <div class="col-1 peak-hours-bar-item high2"></div>
                  <div class="col-1 peak-hours-bar-item low4"></div>
                  <div class="col-1 peak-hours-bar-item low2"></div>
                  <div class="col-1 peak-hours-bar-item low1"></div>
                </div>
                <div class="row">
                  <div class="col-4 text-left">
                    <span class="font-xs text-muted">12 AM</span>
                  </div>
                  <div class="col-4 text-center">
                    <span class="font-xs text-muted">12 PM</span>
                  </div>
                  <div class="col-4 text-right">
                    <span class="font-xs text-muted">12 AM</span>
                  </div>
                </div>
                <div class="list list-sm mt-3 mb-0">
                  <div class="item py-2 callout callout-danger">
                    <div class="item-inner">
                      <div class="item-input-wrapper">
                        <div class="item-label">
                          <p class="mb-2 text-muted">11:00 AM - 12:00 PM</p>
                          <h4 class="mb-0 text-danger">$654</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item py-2 callout callout-success">
                    <div class="item-inner">
                      <div class="item-input-wrapper">
                        <div class="item-label">
                          <p class="mb-2 text-muted">1:00 PM - 2:00 PM</p>
                          <h4 class="mb-0 text-success">$432</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item py-2 callout callout-warning">
                    <div class="item-inner">
                      <div class="item-input-wrapper">
                        <div class="item-label">
                          <p class="mb-2 text-muted">4:00 PM - 5:00 PM</p>
                          <h4 class="mb-0 text-warning">$550</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title font-bold mb-0">Site Comparison</h4>
                <p class="text-muted">Last 24 Hours</p>
                <p class="mb-0">Best Building</p>
                <div class="progress" style="height: 40px;">
                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0.38 kWh</div>
                </div>
                <p class="mb-0 mt-3">This Building</p>
                <div class="progress" style="height: 40px;">
                  <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">0.42 kWh</div>
                </div>
                <p class="mb-0 mt-3">Median Building</p>
                <div class="progress" style="height: 40px;">
                  <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">0.73 kWh</div>
                </div>
                <p class="mb-0 mt-3">Highest Building</p>
                <div class="progress" style="height: 40px;">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">1.93 kWh</div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h4 class="card-title mb-0 font-bold">Electricity Consumption</h4>
              <div class="small text-muted">Last Year</div>
            </div><!--/.col-->
          </div><!--/.row-->
          <div class="chart-wrapper" style="height:300px;margin-top:40px;">
            <canvas baseChart class="chart"
            [datasets]="mainChart2Data"
            [labels]="mainChart2Labels"
            [options]="mainChart2Options"
            [colors]="mainChart2Colours"
            [legend]="mainChart2Legend"
            [chartType]="mainChart2Type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-4">
              <div class="text-muted">Total</div>
              <span class="h3"><strong>58.71</strong></span> <span class="font-xs text-muted">GWh</span>
              <div class="progress progress-xs mt-2">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-4 mt-3 mt-lg-0 mt-md-0">
              <div class="text-muted">Avg / Month</div>
              <span class="h3"><strong>8.39</strong></span> <span class="font-xs text-muted">GWh</span>
              <div class="progress progress-xs mt-2">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-4 mt-3 mt-lg-0 mt-md-0">
              <div class="text-muted">Highest Monthly</div>
              <span class="h3"><strong>9.97</strong></span> <span class="font-xs text-muted">GWh / April</span>
              <div class="progress progress-xs mt-2">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->
      <div class="card">
        <div class="card-block">
          <h4 class="card-title font-bold">Energy / Sq. Ft.</h4>
          <div margin-bottom style="display: block;">
            <canvas baseChart width="300" height="300"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
